div {
    border: 5px small rgb(0, 0, 0)
}


h5 {
    padding-bottom: 10px;
}
body {
    margin-left: 8mm;
    
}
html {;
    font-family: Vernanda, Geneva, Tahoma, sans-serif
}

header {
    padding: 12px;
}

footer {
    background-color: rgb(198, 210, 255);
    margin-top: 24px;
    padding: 24px;
    font-size: smaller;

}

main {
    max-width: 800px;
    margin: auto;
}
.main-bookpage-review {
    background-color: rgb(172, 172, 207);
    border: 1px solid color: lightblue;

}

.book-cover {
    width: 200px;
    height: auto;
}


.book-title {
    font-weight: bold;
    font-size: 150%;

}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: lightgray;
}


.detail-page-book-review {
    padding: ;
}

.detail-page-book-review {
    background-color: rgb(201, 200, 240);
    padding: 24px;
}

input {
    border: 1px solid darkgrey;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}

button {
    padding: 12px;
    font-size: 110%;
}

.book-review-form {
    background-color: rgb(209, 198, 255);
    padding: 24px;
}